---
import { Image } from 'astro:assets';
import Button from './ui/Button.astro';

interface Props {
  contact: any;
  contactNumber: string;
}

const { contact, contactNumber } = Astro.props;
---

<div class="relative mx-auto mb-12 w-full max-w-screen-xl pt-0 md:mt-20 lg:w-[90%]">
  <div>
    <Image
      src={contact}
      alt="Hubungi Kami"
      class="w-full object-cover"
    />
    <div class="absolute top-1/3 ml-10 w-[50%] md:w-[60%]">
      <h1 class="font-bungee text-2xl leading-none tracking-wide text-white sm:text-xs md:mb-4 md:text-4xl lg:mb-10 lg:text-5xl">
        CAN WE HELP YOU? <br />
        GET IN TOUCH WITH OUR <br />
        CONTACT PERSON!
      </h1>
      <a href={contactNumber}>
        <Button
          size="xl"
          class="bg-white text-black hover:text-white sm:mt-2 sm:h-7 sm:w-1 sm:text-[10px] md:h-10 md:w-32 md:text-base lg:h-14 lg:w-40 lg:text-lg"
        >
          Contact Us
        </Button>
      </a>
    </div>
  </div>
</div>