---
import { Image } from 'astro:assets';
import SpecialBannerImage from '../assets/images/SI-Banner.png';
import Button from './ui/Button.astro';
---

<div class="flex h-full w-[90%] flex-col items-center justify-center md:flex-row md:justify-between">
  <div class="relative aspect-square h-auto w-[100svw] max-w-[600px]">
    <Image
      src={SpecialBannerImage}
      alt="International seminar image"
      class="h-full w-full object-contain"
      width={600}
      height={600}
    />
  </div>
  <div class="flex w-full flex-col items-center justify-center text-center md:w-1/2 md:items-start md:text-left">
    <h3 class="font-bungee text-base font-normal uppercase md:text-xl">
      special event
    </h3>
    <h1 class="font-bungee text-3xl font-normal uppercase text-page-purple md:text-5xl">
      international
      <br /> seminar
    </h1>
    <p class="py-[19px] text-base md:text-xl">
      Explore groundbreaking topics and network with global experts at our exclusive international seminar. Join us for insightful discussions.
    </p>
    <Button
      href="/activities/international-seminar"
      variant="secondary"
      size="xl"
      class="bg-page-purple px-14 py-4 text-base font-semibold capitalize text-page-white hover:text-page-purple focus:text-page-purple md:text-xl"
    >
      see more
    </Button>
  </div>
</div>